*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.radio-btn-containor{
    padding: 10px 0px;
    display: flex;
}
.radio-btn{
    margin-right: 15px;
}
.radio-btn > input{
    margin-right: 10px;
}
.radio-btn >label{
    font-size: 18px;
}