*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.Item-containor-CV{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid rgb(59, 35, 5);
    margin:5px;
    border-radius: 10px;
}
.Image-containor-CV{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.Image-containor-CV img{
    width: 100%;
    height: 100%;
}
.Item-details-CV{
    margin-left: 10px;
}
.Item-details-CV h4{
    width: 300px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    color: rgb(75, 46, 8);
}
.cart-view-heading{
    font-family: 'Poppins';
    font-size: 24px;
    text-align: center;
    color: rgb(75, 46, 8);
    margin: 10px;
}
.total-containor{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.btn-containor-CV .Add-num-CV{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    padding: 0px;
     font-size: 18px;
     border-radius: 0px;
     border: 2px solid rgb(49, 29, 3);
}