@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.main-first-content-home{
    width: 100vw;
    display: flex;
    height: 580px;
    padding: 10px 0px;
    background-color: antiquewhite;
    
}
.first-half-fh{
    width: 65%;
    height: 550px;
    background-color: antiquewhite;
    margin: 10px 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.second-half-fh{
    width: 40%;
    height: 550px;
    background-image:  url('/Images/juiceStall.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.slogan-1{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'DM Serif Display';
    color: rgb(248, 161, 47);
 
}
.slogan-2{
    margin: 10px;
    padding: 10px;
    width: 370px;
    font-size: 48px;
    font-family: 'DM Serif Display';
    color: rgb(117, 68, 5);
}

.check-out-btn{
    padding: 10px;
    border: 1px solid rgb(64, 37, 2);
    font-size: 14px;
    font-weight: 450;
    font-family: 'DM Serif Display';
    letter-spacing: 1px;
    background-color: rgb(240, 209, 170);
    color: rgb(117, 68, 5);
    transition: 0.4s all linear;
    display: flex;
    margin-left: 20px;
}
.check-out-btn:hover{
    color: rgba(29, 16, 1, 0.8);    
    background-color: rgba(238, 209, 170,0.7);
    opacity: 1;
}
.single-down-arrow{
    margin-left: 10px;
    height: 20px;
    width: 15px;
    opacity: 0.8;
}