*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.Menu-containor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Menu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Menu-heading{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
    color: rgb(74, 44, 5);
}